/* Général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  a {
    color: #0066cc;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }

  li {
    margin-right: 1rem;
  }

  /* En-tête */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
  }

  header img {
    height: 3rem;
  }

  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ajustez selon votre mise en page */
    justify-content: center; /* Centre les éléments s'ils ne prennent pas toute la largeur */
}

.navigation li {
    margin: 0 10px; /* Ajustez l'espacement selon vos besoins */
}

.nav-button {
    display: block;
    padding: 10px 20px; /* Ajustez le padding selon vos besoins */
    background-color: #FE3847; /* Couleur de fond initiale */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du texte */
    transition: background-color 0.3s; /* Animation douce pour le changement de couleur */
    border-radius: 5px; /* Bords arrondis */
}

.nav-button:hover {
    background-color: #75C6FB;
    text-decoration: none; /* Couleur de fond au survol */
}


  /* Main */
  main {
    padding: 2rem;
  }

  main section {
    margin-bottom: 3rem;
  }

  /* Pied de page */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
  }

  footer p {
    margin-bottom: 1rem;
  }