{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Catégorie: {{ nom_categorie|title }}</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="{% static '/img/home.png' %}" alt="Logo de la boutique" />
        </a>
        <div class="navigation">
            <ul>
                <li><a href="/products" class="nav-button">Produits</a></li>
                <li><a href="/a-propos" class="nav-button">À propos</a></li>
                <li><a href="/contact" class="nav-button">Contact</a></li>
            </ul>
        </div>
    </header>
    <h1>Produits dans la catégorie: {{ nom_categorie|title }}</h1>
    <div class="container">
        {% for produit in produits %}
            <div class="produit">
                {% with produit.images.first as image %}
                    {% if image %}
                        <a href="{% url 'detail_produit' nom_du_produit=produit.get_slug %}">
                            <img src="{{ image.image.url }}" alt="{{ produit.nom }}">
                        </a>
                    {% else %}
                        <a href="{% url 'detail_produit' nom_du_produit=produit.get_slug %}">
                            <img src="{% static '/img/default.jpg' %}" alt="Default Image">
                        </a>
                    {% endif %}
                {% endwith %}
                <a href="{% url 'detail_produit' nom_du_produit=produit.get_slug %}" class="product-container">
                    <div class="produitt">
                        <h2>{{ produit.nom }}</h2>
                        <p>{{ produit.description }}</p>
                        <div class="prix">{{ produit.prix }}€</div>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>Aucun produit trouvé dans cette catégorie.</p>
        {% endfor %}
    </div>
    <footer>
        <p>© 2023 Electro Choses - Tous droits réservés.</p>
        <ul>
            <li><a href="/a-propos">À propos</a></li>
            <li><a href="/contact">Nous contacter</a></li>
        </ul>
    </footer>    
</body>
</html>
