{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="{% static '/img/home.png' %}" alt="Logo de la boutique" />
        </a>
        <div id="nav-search" class="search-bar-container">
            <form id="nav-search-bar-form" action="{% url 'home' %}" method="get" class="search-bar-form">
                <select name="categorie" class="search-category-dropdown">
                    <option value="all">Toutes nos catégories</option>
                    <option value="pc">PC</option>
                    <!-- autres options de catégorie -->
                </select>
                <input type="text" name="q" placeholder="Recherche..." class="search-input">
                <button type="submit" class="search-button">Rechercher</button>
            </form>
        </div>               
        <div class="navigation">
            <ul>
                <li><a href="/products" class="nav-button">Produits</a></li>
                <li><a href="/a-propos" class="nav-button">À propos</a></li>
                <li><a href="/contact" class="nav-button">Contact</a></li>
            </ul>
        </div>        
    </header>
    <main>
        <section id="categories">
            <h2>Catégories</h2>
            <div class="categorie-container">
                <div class="categorie-item">
                    <a href="/categories/pc">
                        <img src="{% static 'img/categorie-pc.jpg' %}" alt="PC">
                        <span>PC</span>
                    </a>
                </div>
                <div class="categorie-item">
                    <a href="/categories/pc_portable">
                        <img src="{% static 'img/categorie-pc-portable.jpg' %}" alt="PC Portable">
                        <span>PC Portable</span>
                    </a>
                </div>
                <div class="categorie-item">
                    <a href="/categories/gaming">
                        <img src="{% static 'img/categorie-gaming.jpg' %}" alt="Gaming">
                        <span>Gaming</span>
                    </a>
                </div>
                <div class="categorie-item">
                    <a href="/categories/telephone">
                        <img src="{% static 'img/categorie-telephone.jpg' %}" alt="Téléphone">
                        <span>Téléphone</span>
                    </a>
                </div>
                <div class="categorie-item">
                    <a href="/categories/tablettes">
                        <img src="{% static 'img/categorie-tablettes.jpg' %}" alt="Tablettes">
                        <span>Tablettes</span>
                    </a>
                </div>
                <div class="categorie-item">
                    <a href="/categories/accessoires">
                        <img src="{% static 'img/categorie-accessoires.jpg' %}" alt="Accessoires">
                        <span>Accessoires</span>
                    </a>
                </div>
            </div>
        </section>              
        <section id="offres-speciales">
          <h2>Nos offres spéciales</h2>
          <!-- Afficher les offres spéciales ici -->
        </section>
        <section id="temoignages">
          <h2>Ce que disent nos clients</h2>
          <!-- Afficher les témoignages de clients ici -->
        </section>
    </main>
    <footer>
        <p>© 2023 Electro Choses - Tous droits réservés.</p>
        <ul>
          <li><a href="/a-propos">À propos</a></li>
          <li><a href="/contact">Nous contacter</a></li>
        </ul>
    </footer>
</body>
</html>